extends ../layouts/application.pug

block header
  = t('views.tasks.tasks')
  a.btn.btn-primary.mb-5(href=route('newTask'))= t('views.tasks.create')

block content
  .card.shadow-sm
    .card-body.p-4
      +formFor()(action='/tasks' method='get')
        .row
          .col-12.col-md
            .input-group.mb-3
              label.input-group-text(for='data_status')= t('views.tasks.status')
              select#data_status.form-select(name='status')
                option
                each status in statuses
                  option(value=status.id, selected=filter.status === status.id.toString() ? true : false)= status.name
          .col-12.col-md
            .input-group.mb-3
              label.input-group-text(for='data_executor')= t('views.tasks.executor')
              select#data_executor.form-select(name='executor')
                option
                each executor in executors
                  option(value=executor.id, selected=filter.executor === executor.id.toString() ? true : false)= `${executor.firstName} ${executor.lastName}`
          .col-12.col-md
            .input-group.mb-3
              label.input-group-text(for='data_label')= t('views.tasks.label')
              select#data_label.form-select(name='label')
                option
                each label in labels
                  option(value=label.id, selected=filter.label === label.id.toString() ? true : false)= label.name

        .mb-3.form-check
          if filter.creator 
            input#data_isCreatorUser.form-check-input(type='checkbox' name='isCreatorUser' checked)
            label.form-check-label(for='data_isCreatorUser')= t('layouts.tasks.own')
          else
            input#data_isCreatorUser.form-check-input(type='checkbox' name='isCreatorUser')
            label.form-check-label(for='data_isCreatorUser')= t('layouts.tasks.own')
        input.btn.btn-primary.ml-3(type='submit' value= t('views.tasks.show'))

  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.name')
          th= t('views.tasks.status')
          th= t('views.tasks.author')
          th= t('views.tasks.executor')
          th= t('views.tasks.createdAt')
      tbody
        each task in tasks
          tr
            td= task.id
            td= a(href=`/tasks/${task.id}`)=  _.get(task, 'name', '')
            td= _.get(task, ['status', 'name'], '')
            td= `${_.get(task, ['creator', 'firstName'], '')} ${_.get(task, ['creator', 'lastName'], '')}`
            td= `${_.get(task, ['executor', 'firstName'], '')} ${_.get(task, ['executor', 'lastName'], '')}`
            td= formatDate(task.createdAt)
            td
              a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)= t('views.tasks.submit')
              +buttonTo(`/tasks/${task.id}`, 'delete')(value=t('views.tasks.delete') class="btn btn-danger")
