extends ../layouts/application.pug

block header
  = t('views.tasks.new.create')

block content
  +formFor()(action=route('statuses') method='post')
    +input(user, t('views.tasks.new.name'), errors)(type="text", placeholder=t('views.tasks.new.name'))
    .mb-3
      label(for='data_description')= t('views.tasks.new.description')
      textarea#data_description.form-control(name='data[description]' rows='3', value=task.description)
    .mb-3
      label(for='data_statusId')= t('views.tasks.new.status')
      if errors && errors.statusId
        select#data_statusId.form-control(name='data[statusId]').is-invalid
          option
          if statuses
            each status in statuses
              option(value=status.id)= status.name
          else
            option
        div.invalid-feedback= errors.statusId[0].message
      else  
        select#data_statusId.form-control(name='data[statusId]')
          option
          if statuses
            each status in statuses
              option(value=status.id)= status.name
          else
            option
    .mb-3
      label(for='data_executorId')= t('views.tasks.new.executor')
      select#data_executorId.mt-2.mb-2.form-control(name='data[executorId]')
        option
        if executors
          each executor in executors
            option(value=executor.id)= `${executor.firstName} ${executor.lastName}`
        else
          option
    .mb-3
      label(for='data_labels')= t('views.tasks.new.labels')
      select#data_labels.mt-2.mb-2.form-control(name='data[labels]' multiple='multiple')
        if labels
          each label in labels
            option(value=label.id)= label.name
        else
          option
    +submit()(value=t('views.tasks.new.submit'))
